@atjsh-noritor:registry=https://npm.pkg.github.com
@ATJSH:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
//npm.pkg.github.com:_authToken=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
